<h2>New Member</h2>

<div class="row pt-4">
    <div class="col-sm-8">
        <div class="row pt-5">
            <div class="card" style="width:100%;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3><b>Member Details</b></h3>
                        </div>
                    </div>
                    <div class="row pt-3 pl-4">
                        <div class="col-sm-12">
                            <b>Email</b>
                        </div>
                        <div class="col-sm-12">
                            <input style="width:50%" />
                        </div>
                    </div>
                    <div class="row pt-3 pl-4">
                        <div class="col-sm-12">
                            <b>Phone Number</b>
                        </div>
                        <div class="col-sm-12">
                            <input style="width:50%" />
                        </div>
                    </div>
                    <div class="row pt-3 pl-4">
                        <div class="col-sm-12">
                            <b>First Name</b>
                        </div>
                        <div class="col-sm-12">
                            <input style="width:50%" />
                        </div>
                    </div>
                    <div class="row pt-3 pl-4">
                        <div class="col-sm-12">
                            <b>Last Name</b>
                        </div>
                        <div class="col-sm-12">
                            <input style="width:50%" />
                        </div>
                    </div>
                    <div class="row pt-3 pl-4">
                        <div class="col-sm-12">
                            <input type="checkbox" name="keepmeupdate" value="KeepMeUpdate"> Keep me up to date with the latest from Community Corporate<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="row pt-5">
            <div class="card" style="width:100%;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3><b>Location</b></h3>
                        </div>
                    </div>
                    <div class="row pt-3 pl-4">
                        <div class="col-sm-12">
                            <b>Number and Street</b>
                        </div>
                        <div class="col-sm-12">
                            <input style="width:50%" />
                        </div>
                    </div>
                    <div class="row pt-3 pl-4">
                        <div class="col-sm-12">
                            <b>Suburb</b>
                        </div>
                        <div class="col-sm-12">
                            <input style="width:50%" />
                        </div>
                    </div>
                    <div class="row pt-3 pl-4">
                        <div class="col-sm-12">
                            <b>State</b>
                        </div>
                        <div class="col-sm-12">
                            <input style="width:50%" />
                        </div>
                    </div>
                    <div class="row pt-3 pl-4">
                        <div class="col-sm-12">
                            <b>Postcode</b>
                        </div>
                        <div class="col-sm-12">
                            <input style="width:50%" />
                        </div>
                    </div>
                    <div class="row pt-3 pl-4">
                        <div class="col-sm-12">
                            Would you move to a regional area for work?
                        </div>
                        <div class="col-sm-12">
                            <input type="radio" /> Yes
                        </div>
                        <div class="col-sm-12">
                            <input type="radio" /> No
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="row pt-5">
            <div class="card" style="width:100%;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3><b>Compliance Criteria</b></h3>
                        </div>
                    </div>
                    <div class="row pt-3 pl-4">
                        <div class="col-sm-12">
                            <b>Work rights Document</b>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <input style="width:100%" />
                                </div>
                                <div class="col-sm-4">
                                    <button type="button" class="btn btn-primary">Browse</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-3 pl-4">
                        <div class="col-sm-12">
                            Are you currently working?
                        </div>
                        <div class="col-sm-12">
                            <input type="radio" /> Yes, I have paid work
                        </div>
                        <div class="col-sm-12">
                            <input type="radio" /> Yes, I have volunteer work
                        </div>
                        <div class="col-sm-12">
                            <input type="radio" /> No, I am unemployed
                        </div>
                    </div>
                    <div class="row pt-3 pl-4">
                        <div class="col-sm-12">
                            <b>When did you arrive in Australia?</b>
                        </div>
                        <div class="col-sm-12">
                            <input type="date" style="width:50%" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>