<div class="container-fluid pa-5">
    <div class="row">
        <div class="col-sm-12">
            <h2>First Last</h2>
        </div>
    </div>
    @* Main Content *@
    <div class="row pt-4">
        @* Details *@
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-12">
                    <div class="btn-group" role="group" style="width:100%;">
                        <button type="button" class="btn btn-primary">Tasks</button>
                        <button type="button" class="btn btn-primary">Positions</button>
                        <button type="button" class="btn btn-secondary">Application Details</button>
                        <button type="button" class="btn btn-primary">Messages</button>
                    </div>
                </div>
            </div>
            <div class="row pt-5">
                <div class="card" style="width:100%;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <h3><b>Personal Details</b></h3>
                            </div>
                            <div class="col-sm-2 offset-sm-6">
                                <button class="btn btn-primary" style="width:150px;">Edit</button>
                            </div>
                        </div>
                        <div class="row pt-4 pl-4">
                            <div class="col-sm-12">
                                <b>Full Name</b>
                            </div>
                            <div class="col-sm-12">
                                &nbsp;&nbsp;&nbsp;&nbsp; First Last
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-sm-12">
                                <b>Phone Number</b>
                            </div>
                            <div class="col-sm-12">
                                &nbsp;&nbsp;&nbsp;&nbsp; 09XX XXXX XXXX
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-sm-12">
                                <b>Email</b>
                            </div>
                            <div class="col-sm-12">
                                &nbsp;&nbsp;&nbsp;&nbsp; email@email.com.au
                            </div>
                        </div>
                        <div class="row pt-4 pl-4">
                            <div class="col-sm-12">
                                <button class="btn btn-light"><i class="fas fa-ellipsis-h"></i>&nbsp;&nbsp;&nbsp; Show More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="card" style="width:100%;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <h3><b>On-Boarding Details</b></h3>
                            </div>
                            <div class="col-sm-2 offset-sm-6">
                                <button class="btn btn-primary" style="width:150px;">Edit</button>
                            </div>
                        </div>
                        <div class="row pt-4 pl-4">
                            <div class="col-sm-12">
                                <b>Address</b>
                            </div>
                            <div class="col-sm-12">
                                &nbsp;&nbsp;&nbsp;&nbsp; something something, somehing, somethoins
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-sm-12">
                                <b>Work Rights</b>
                            </div>
                            <div class="col-sm-12">
                                &nbsp;&nbsp;&nbsp;&nbsp; View Document
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-sm-12">
                                <b>Are your currently working?</b>
                            </div>
                            <div class="col-sm-12">
                                &nbsp;&nbsp;&nbsp;&nbsp; yes, I have a work so ok bye.
                            </div>
                        </div>
                        <div class="row pt-4 pl-4">
                            <div class="col-sm-12">
                                <button class="btn btn-light"><i class="fas fa-ellipsis-h"></i>&nbsp;&nbsp;&nbsp; Show More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="card" style="width:100%;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <h3><b>Work and Volunteer History</b></h3>
                            </div>
                            <div class="col-sm-2 offset-sm-4">
                                <button class="btn btn-primary" style="width:150px;">Edit</button>
                            </div>
                        </div>
                        <div class="row pt-4 pl-4">
                            <div class="col-sm-12">
                                <b>Employer Name</b>
                            </div>
                            <div class="col-sm-12">
                                &nbsp;&nbsp;&nbsp;&nbsp; Position Title
                            </div>
                            <div class="col-sm-12">
                                &nbsp;&nbsp;&nbsp;&nbsp; Date Range | Duration
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-sm-12">
                                <b>Employer Name</b>
                            </div>
                            <div class="col-sm-12">
                                &nbsp;&nbsp;&nbsp;&nbsp; Position Title
                            </div>
                            <div class="col-sm-12">
                                &nbsp;&nbsp;&nbsp;&nbsp; Date Range | Duration
                            </div>
                        </div>
                        <div class="row pt-4 pl-4">
                            <div class="col-sm-12">
                                <button class="btn btn-light"><i class="fas fa-ellipsis-h"></i>&nbsp;&nbsp;&nbsp; Show More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="card" style="width:100%;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <h3><b>Skills</b></h3>
                            </div>
                            <div class="col-sm-2 offset-sm-4">
                                <button class="btn btn-primary" style="width:150px;">Edit</button>
                            </div>
                        </div>
                        <div class="row pt-4 pl-4">
                            <div class="col-sm-12">
                                <b>Skill 1</b>
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-sm-12">
                                <b>Skill 2</b>
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-sm-12">
                                <b>Skill 3</b>
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-sm-12">
                                <b>Skill 4</b>
                            </div>
                        </div>
                        <div class="row pt-4 pl-4">
                            <div class="col-sm-12">
                                <button class="btn btn-light"><i class="fas fa-ellipsis-h"></i>&nbsp;&nbsp;&nbsp; Show More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="card" style="width:100%;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <h3><b>Characteristics</b></h3>
                            </div>
                            <div class="col-sm-2 offset-sm-4">
                                <button class="btn btn-primary" style="width:150px;">Edit</button>
                            </div>
                        </div>
                        <div class="row pt-4 pl-4">
                            <div class="col-sm-12">
                                <b>Character 1</b>
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-sm-12">
                                <b>Character 2</b>
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-sm-12">
                                <b>Character 3</b>
                            </div>
                        </div>
                        <div class="row pt-2 pl-4">
                            <div class="col-sm-12">
                                <b>Character 4</b>
                            </div>
                        </div>
                        <div class="row pt-4 pl-4">
                            <div class="col-sm-12">
                                <button class="btn btn-light"><i class="fas fa-ellipsis-h"></i>&nbsp;&nbsp;&nbsp; Show More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="card" style="width:100%;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <h3><b>About</b></h3>
                            </div>
                            <div class="col-sm-2 offset-sm-4">
                                <button class="btn btn-primary" style="width:150px;">Edit</button>
                            </div>
                        </div>
                        <div class="row pt-4 pl-4">
                            <div class="col-sm-12">
                                <b>Tell us littele about yourself</b>
                            </div>
                        </div>
                        <div class="row pt-3 pl-4">
                            <div class="col-sm-12">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam odio est, ultricies eu pretium non, mollis ac elit. Pellentesque nec velit ut metus pulvinar eleifend nec nec justo. Integer ac metus eleifend, pretium turpis vitae, semper arcu. Etiam sit amet libero sit amet nibh bibendum vehicula sed dignissim mi. Nam aliquet sapien tellus, quis euismod mauris commodo et. Curabitur interdum commodo efficitur. Donec eu justo malesuada, malesuada ante non, tincidunt massa.
                            </div>
                        </div>
                        <div class="row pt-4 pl-4">
                            <div class="col-sm-12">
                                <button class="btn btn-light"><i class="fas fa-ellipsis-h"></i>&nbsp;&nbsp;&nbsp; Show More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 offset-sm-1">
            <div class="row">
                <select class="form-control">
                    <option>Awaiting for approval</option>
                </select>
            </div>
            <div class="row pt-4">
                <div class="card" style="background-color:#d7d8e2; width: 100%;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <b>Name</b>
                            </div>
                            <div class="col-sm-12">
                                &nbsp;&nbsp;&nbsp; First Last
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-sm-12">
                                <b>Phone Number</b>
                            </div>
                            <div class="col-sm-12">
                                &nbsp;&nbsp;&nbsp; 0411 1111 1111 &nbsp;&nbsp;&nbsp;<i class="fas fa-phone"></i>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-sm-12">
                                <b>Email Address</b>
                            </div>
                            <div class="col-sm-12">
                                &nbsp;&nbsp;&nbsp; email@email.com.au &nbsp;&nbsp;&nbsp;<i class="far fa-envelope"></i>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-sm-12">
                                <b>Support Worker</b>
                            </div>
                            <div class="col-sm-12">
                                &nbsp;&nbsp;&nbsp; First Last
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-sm-12">
                                <b>Tags</b>
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-secondary" style="width:100%;">tag 1</button>
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-secondary" style="width:100%;">tag 1</button>
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-secondary" style="width:100%;">tag 1</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-4">
                <h3><b>Comments/Notes</b></h3>
                <div class="row pt-4">
                    <div class="card" style="background-color:#d7d8e2; width: 100%;">
                        <div class="card-body">
                            <div class="row pb-5">
                                <div class="col-sm-12">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam odio est, ultricies eu pretium non, mollis ac elit. Pellentesque nec velit ut metus pulvinar eleifend nec nec justo. Integer ac metus eleifend, pretium turpis vitae, semper arcu. Etiam sit amet libero sit amet nibh bibendum vehicula sed dignissim mi. Nam aliquet sapien tellus, quis euismod mauris commodo et.
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    commenter - Date : Time
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="card" style="background-color:#d7d8e2; width: 100%;">
                        <div class="card-body">
                            <div class="row pb-5">
                                <div class="col-sm-12">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam odio est, ultricies eu pretium non, mollis ac elit. Pellentesque nec velit ut metus pulvinar eleifend nec nec justo. Integer ac metus eleifend, pretium turpis vitae, semper arcu. Etiam sit amet libero sit amet nibh bibendum vehicula sed dignissim mi. Nam aliquet sapien tellus, quis euismod mauris commodo et.
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    commenter - Date : Time
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-4">
                New Comment/Note
            </div>
            <div class="row pt-1 pb-2">
                <textarea class="form-control" rows="5"></textarea>
            </div>
            <div class="row">
                <button class="btn btn-outline-dark" style="width:100%;">Save</button> 
            </div>
        </div>
    </div>
</div>