<h2>Members</h2>

<div class="page-header">
    <div class="row" style="width:100%">
        <div class="col-sm-2">Find a member</div>
        <div class="col-sm-6"><input style="width:100%" /></div>
        <div class="col-sm-4 text-right">
            <button class="btn btn-outline-secondary">...</button>
            <button class="btn btn-outline-secondary">Filter</button>
            <a asp-route-action="Create" class="btn btn-primary" role="button">Add Member</a>
        </div>
    </div>
</div>
<div class="row" style="width:100%">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Employer</th>
                <th scope="col">Support Worker</th>
                <th scope="col">Created</th>
                <th scope="col">Tags</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a asp-action="Details" asp-route-id="1">First Last</a></td>
                <td>APPROVED</td>
                <td>Business Name</td>
                <td>First Last</td>
                <td>
                    24/03/2019, 13:24
                </td>
                <td><button>Tag 1 </button> <button>Tag 2 </button></td>
            </tr>
            <tr>
                <td>First Last</td>
                <td>APPROVED</td>
                <td>Business Name</td>
                <td>First Last</td>
                <td>
                    24/03/2019, 13:24
                </td>
                <td><button>Tag 1 </button> <button>Tag 2 </button></td>
            </tr>
            <tr>
                <td>First Last</td>
                <td>APPROVED</td>
                <td>Business Name</td>
                <td>First Last</td>
                <td>
                    24/03/2019, 13:24
                </td>
                <td><button>Tag 1 </button> <button>Tag 2 </button></td>
            </tr>
            <tr>
                <td>First Last</td>
                <td>APPROVED</td>
                <td>Business Name</td>
                <td>First Last</td>
                <td>
                    24/03/2019, 13:24
                </td>
                <td><button>Tag 1 </button> <button>Tag 2 </button></td>
            </tr>
            <tr>
                <td>First Last</td>
                <td>APPROVED</td>
                <td>Business Name</td>
                <td>First Last</td>
                <td>
                    24/03/2019, 13:24
                </td>
                <td><button>Tag 1 </button> <button>Tag 2 </button></td>
            </tr>
            <tr>
                <td>First Last</td>
                <td>APPROVED</td>
                <td>Business Name</td>
                <td>First Last</td>
                <td>
                    24/03/2019, 13:24
                </td>
                <td><button>Tag 1 </button> <button>Tag 2 </button></td>
            </tr>
            <tr>
                <td>First Last</td>
                <td>APPROVED</td>
                <td>Business Name</td>
                <td>First Last</td>
                <td>
                    24/03/2019, 13:24
                </td>
                <td><button>Tag 1 </button> <button>Tag 2 </button></td>
            </tr>
            <tr>
                <td>First Last</td>
                <td>APPROVED</td>
                <td>Business Name</td>
                <td>First Last</td>
                <td>
                    24/03/2019, 13:24
                </td>
                <td><button>Tag 1 </button> <button>Tag 2 </button></td>
            </tr>
        </tbody>
    </table>
</div>


@*<div class="form-popup" id="myForm">
    <form class="form-container">
        <h1>Login</h1>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit" class="btn">Login</button>
        <button type="submit" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
</div>
<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>*@
<style>
    table, th, td {
        border: 1px solid black;
    }

    .page-header {
        margin-bottom: 10px;
    }
    /* Button used to open the contact form - fixed at the bottom of the page */
    .open-button {
        background-color: #555;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 23px;
        right: 28px;
        width: 280px;
    }

    /* The popup form - hidden by default */
    .form-popup {
        position: absolute;
        left: 65%;
        top: 23%;
    }

    /* Add styles to the form container */
    .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: white;
    }

        /* Full-width input fields */
        .form-container input[type=text], .form-container input[type=password] {
            width: 100%;
            padding: 15px;
          
            border: none;
            background: #f1f1f1;
        }

            /* When the inputs get focus, do something */
            .form-container input[type=text]:focus, .form-container input[type=password]:focus {
                background-color: #ddd;
                outline: none;
            }

        /* Set a style for the submit/login button */
        .form-container .btn {
            background-color: #4CAF50;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            margin-bottom: 10px;
            opacity: 0.8;
        }

        /* Add a red background color to the cancel button */
        .form-container .cancel {
            background-color: red;
        }

        /* Add some hover effects to buttons */
        .form-container .btn:hover, .open-button:hover {
            opacity: 1;
        }
</style>