<h2>Members</h2>

<div class="page-header">
    <div class="row" style="width:100%">
        <div class="col-sm-2">Find a member</div>
        <div class="col-sm-6"><input style="width:100%" /></div>
        <div class="col-sm-4 pull-right">
            <button class="btn btn-outline-secondary">...</button>
            <button class="btn btn-outline-secondary">Filter</button>
            <button class="btn btn-primary">Add Member</button>
        </div>
    </div>
</div>
<div class="row" style="width:100%">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Employer</th>
                <th scope="col">Support Worker</th>
                <th scope="col">Created</th>
                <th scope="col">Tags</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>First Last</td>
                <td>APPROVED</td>
                <td>Business Name</td>
                <td>First Last</td>
                <td>
                    24/03/2019, 13:24
                </td>
                <td><button>Tag 1 </button> <button>Tag 2 </button></td>
            </tr>
            <tr>
                <td>First Last</td>
                <td>APPROVED</td>
                <td>Business Name</td>
                <td>First Last</td>
                <td>
                    24/03/2019, 13:24
                </td>
                <td><button>Tag 1 </button> <button>Tag 2 </button></td>
            </tr>
            <tr>
                <td>First Last</td>
                <td>APPROVED</td>
                <td>Business Name</td>
                <td>First Last</td>
                <td>
                    24/03/2019, 13:24
                </td>
                <td><button>Tag 1 </button> <button>Tag 2 </button></td>
            </tr>
            <tr>
                <td>First Last</td>
                <td>APPROVED</td>
                <td>Business Name</td>
                <td>First Last</td>
                <td>
                    24/03/2019, 13:24
                </td>
                <td><button>Tag 1 </button> <button>Tag 2 </button></td>
            </tr>
            <tr>
                <td>First Last</td>
                <td>APPROVED</td>
                <td>Business Name</td>
                <td>First Last</td>
                <td>
                    24/03/2019, 13:24
                </td>
                <td><button>Tag 1 </button> <button>Tag 2 </button></td>
            </tr>
            <tr>
                <td>First Last</td>
                <td>APPROVED</td>
                <td>Business Name</td>
                <td>First Last</td>
                <td>
                    24/03/2019, 13:24
                </td>
                <td><button>Tag 1 </button> <button>Tag 2 </button></td>
            </tr>
            <tr>
                <td>First Last</td>
                <td>APPROVED</td>
                <td>Business Name</td>
                <td>First Last</td>
                <td>
                    24/03/2019, 13:24
                </td>
                <td><button>Tag 1 </button> <button>Tag 2 </button></td>
            </tr>
            <tr>
                <td>First Last</td>
                <td>APPROVED</td>
                <td>Business Name</td>
                <td>First Last</td>
                <td>
                    24/03/2019, 13:24
                </td>
                <td><button>Tag 1 </button> <button>Tag 2 </button></td>
            </tr>
        </tbody>
    </table>
</div>

<style>
    table, th, td {
        border: 1px solid black;
    }
    .page-header {
        margin-bottom: 10px;
    }
</style>